<html>

<head>
    <script type="text/javascript" src="application.bundle.js" />
    <script type="text/javascript">
        var rightNow = moment().format('MMMM Do YYYY, h:mm:ss a');
        $(document).ready(()=>{
            onsole.log("Here I am");
        });
        alert("Fuck you");
    </script>

</head>

<body>
    <h1>EEHAW</h1>

    <p>This is really my first node application created from really point zero.. every single character was type-written by
        myself.. WOW!!
    </p>
</body>

</html>